.projects {
    background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2);
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto; /* Reduced margin to bring content closer */
    padding:0px 30px; 
    text-align: left;
    transition: all 0.3s ease-in-out;
}

.section-title {
    font-size: 2.8em;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 20px; /* Reduced margin to bring content closer */
    text-align: center;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #3498db;
    margin: 10px auto 0;
    border-radius: 2px;
    animation: slideIn 0.5s ease-in-out;
}

.project-item {
    background: #ffffff;
    padding: 20px; /* Adjusted padding for a more compact look */
    margin-bottom: 20px; /* Reduced margin for better spacing */
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.6s ease-in-out;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-item:hover {
    transform: translateY(-8px); /* Slightly less movement */
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.15);
}

.project-title {
    font-size: 1.8em; /* Reduced font size for better visual hierarchy */
    color: #2980b9;
    margin-bottom: 10px;
    position: relative;
    animation: fadeIn 0.6s ease-in-out;
}

.project-description {
    font-size: 1.1em; /* Adjusted font size for better readability */
    color: #34495e;
    margin-bottom: 10px;
    animation: fadeIn 0.8s ease-in-out;
}

.project-item p {
    margin: 5px 0;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}
